:root {
	--col-width: 40px;
	--col-offset: 40px;
	--col-height: 40px;
	--col-height-tall: 160px;
	--col-height-short: 80px;
	--corner-size: 16px;

	--color-background: #1a1a1a;
	--color-foreground: white;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: Arial, sans-serif;
}

main {
	max-width: 100vw;
}

section {
	padding: 1.5rem;
}

.hero-image {
	width: 100%;
	height: calc(
		var(--col-height-tall) + 4 * var(--col-height) + var(--col-height-short)
	);
	object-fit: cover;
}

.hero-mask {
	position: absolute;
	top: 1.5rem;
	display: flex;
	gap: var(--col-offset);
}

.col-block {
	position: relative;
	width: var(--col-width);
	height: var(--col-height);
	border-radius: 0 var(--corner-size) 0 var(--corner-size);
	background-color: var(--color-background);
}
.one .col-block {
	height: var(--col-height-tall);
	border-radius: 0 0 0 var(--corner-size);
}
.three .col-block {
	border-radius: 0 var(--corner-size) var(--corner-size) 0;
}
.four .col-block {
	border-radius: var(--corner-size) 0 0 var(--corner-size);
}
.six .col-block {
	height: var(--col-height-short);
	border-radius: 0 var(--corner-size) 0 0;
}

/* Cantos arredondados */

.corner {
	position: absolute;
	width: var(--corner-size);
	height: var(--corner-size);
}
.corner path {
	fill: var(--color-background);
}
.corner.top-left {
	top: 0;
	left: calc(-1 * var(--corner-size));
}
.corner.top-right {
	top: 0;
	right: calc(-1 * var(--corner-size));
}
.corner.bottom-left {
	bottom: 0;
	left: calc(-1 * var(--corner-size));
}
.corner.bottom-right {
	bottom: 0;
	right: calc(-1 * var(--corner-size));
}

/* Deslocamento das linhas */
.two .col-block,
.four .col-block {
	left: var(--col-offset);
}
.three .col-block,
.five .col-block {
	left: calc(2 * var(--col-offset));
}
.six .col-block {
	left: calc(3 * var(--col-offset));
}

/* Tratamento da 1a coluna */
